@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    
</head>

<body>

    
      <ul class="first">
          <li class="f"><h4><a href="https://www.klarna.com/international/"><strong>Klarna.</strong></a></h4></li>
          <li class="f1"><a href="https://www.klarna.com/international/about-us/corporate-governance/investor-relations/">Investor relation</a></li>
          <li class="f1"><a href="https://www.klarna.com/international/about-us/corporate-governance/">Corporate governance</a></li>
          <li class="f1"><a href="https://www.klarna.com/international/sustainability/">Sustainability</a></li>
          <li class="f1"><a href="https://www.klarna.com/international/press/">Press</a></li>
          <li class="f1"><a href="https://www.klarna.com/international/about-us/">About us</a></li>
          <li>
              <form action="https://www.klarna.com/international/about-us/">
                  <button class="login" type="submit" >Log in</button>
              </form>
          </li>
      </ul>
    


    <div class="baslik">
        <div class="row">
            <div class="col-1"> </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-12 baslik1">
                        <h1>
                            <strong> Klarna International</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-1"> </div>
        <div class="col-4 market">
            <div class="row">
                <div class="col-12">
                    <h2>
                        <strong> Klarna markets.</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/australia.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/au/"> Australia | English <i class="fa-solid fa-arrow-right"></i></a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/österreich.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/at/">
                            Österreich | Deutsch <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Belgium.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/be/">
                            Belgie | Nederlands <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Belgium.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/fr-be/">
                            Belgique | Français <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/canada.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/ca/">
                            Canada | English <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/canada.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/fr-ca/">
                            Canada | Français <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Danmark.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/dk/">
                            Danmark | Dansk <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Suomi.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/fi/">
                            Suomi | Suomalainen <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/France.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/fr/">
                            France | Français <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Deutschland.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/de/">
                            Deutschland | Deutsch <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Ireland.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/ie/">
                            Ireland | English <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/italia.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/it/">
                            Italia | Italiano <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Nederland.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/nl/">
                            Nederland | Nederlands <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/NewZealand.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/nz/">
                            New Zealand | English <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/norge.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/no/">
                            Norge | Norsk <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/polska.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/pl/">
                            Polska | Polski <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Portugal.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/pt/">
                            Portugal | Portugues <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Espana.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/es/">
                            Espana | Espanol <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Suisse.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/fr-ch/"> Suisse | Français <i class="fa-solid fa-arrow-right"> </i> </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 border">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Suisse.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.klarna.com/it-ch/">
                            Svizzera | Italiano <i class="fa-solid fa-arrow-right"> </i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-1"> </div>
        <div class="col-4 market">
            <div class="row">
                <div class="col-12">
                    <h2>
                        <strong> PriceRunner.</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 borders">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/UnitedKingdom.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.pricerunner.com/">
                            PriceRunner United Kingdom <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 borders">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Danmark.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.pricerunner.dk/">
                            PriceRunner Danmark <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 borders">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/sverige.png" alt="" class="yuvarlak" />
                    <h4>
                        <a href="https://www.pricerunner.se/">
                            PriceRunner Sverige <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-1"> </div>
        <div class="col-4 market1">
            <div class="row">
                <div class="col-12">
                    <h2>
                        <strong>More from Klarna.</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/KlarnaKosma.jpg" style="width:450px; height:400px;" />
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <img src="~/resim1/Klarna_Insights.jpg" style="width:450px; height:400px;" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 altresimbs">
            <div class="row">
                <div class="col-12 resimlink">
                    <h3><strong>Open Banking. With added Klarna.</strong></h3>
                    <a href="https://www.kosma.com/">Klarna Kosma <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 altresimbs">
            <div class="row">
                <div class="col-12 resimlink">
                    <h3><strong>Explore deep dives and trend reports.</strong></h3>
                    <a href="https://insights.klarna.com/">Klarna Insights <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color:black; margin-top:100px; height:80px;"></div>




    <div class="row sondiv">
        <div class="col-3" style="background-color:black; color:white; ">
            <h4 style=" margin-left:50px;"><strong>Klarna.</strong></h4>
            <div class="button">
                <p class="country">Country</p>

                <select class="option" onchange=" if (this.value) window.location.href=this.value">
                    <option value="https://www.klarna.com/au/">Australia</option>
                    <option value="https://www.klarna.com/at/">Austria</option>
                    <option value="https://www.klarna.com/fr-be/">Belgium(fr)</option>
                    <option value="https://www.klarna.com/be/">Belgium(nl)</option>
                    <option value="https://www.klarna.com/ca/">Canada</option>
                    <option value="https://www.klarna.com/fr-ca/">Canada(fr)</option>
                    <option value="https://www.klarna.com/dk/">Denmark</option>
                    <option value="https://www.klarna.com/fi/">Finland</option>
                    <option value="https://www.klarna.com/fr/">France</option>
                    <option value="https://www.klarna.com/de/">Germany</option>
                    <option selected>International</option>
                    <option value="https://www.klarna.com/ie/">Ireland</option>
                    <option value="https://www.klarna.com/it/">Italy</option>
                    <option value="https://www.klarna.com/nl/">Netherlands</option>
                    <option value="https://www.klarna.com/nz/">New Zealand</option>
                    <option value="https://www.klarna.com/no/">Norway</option>
                    <option value="https://www.klarna.com/pl/">Poland</option>
                    <option value="https://www.klarna.com/pt/">Portugal</option>
                    <option value="https://www.klarna.com/es/">Spain</option>
                    <option value="https://www.klarna.com/fr-ca/">Switzerland(fr)</option>
                    <option value="https://www.klarna.com/it-ch/">Switzerland(it)</option>
                </select>
            </div>
            <div class="fb">
                <a href="https://www.instagram.com/klarna/"><img src="~/resim1/instalogo.jpg" alt="Klarna Instagram" style="height:40px; margin-left:5px; margin-top:10px;" /></a>
                <a href="https://twitter.com/Klarna"><img src="~/resim1/twitterlogo.jpg" alt="Klarna Twitter" style="height:40px; margin-left:10px; margin-top:10px;" /></a>
                <a href="https://www.linkedin.com/Klarna"><img src="~/resim1/linkedinlogo.jpg" alt="Klarna Linkedin" style="height:40px; margin-left:10px; margin-top:10px;" /></a>
                <a href="https://www.facebook.com/Klarna"><img src="~/resim1/facebooklogo.jpg" alt="Klarna Facebook" style="height:40px; margin-left:10px; margin-top:10px;" /></a>
            </div>
        </div>

        <div class="col-3 sonlink" style="background-color:black;">
            <p><strong><a href="https://www.klarna.com/international/about-us/"> Klarna</a></strong></p>
            <p><a href="https://www.klarna.com/international/about-us/">About us</a></p>
            <p><a href="https://www.klarna.com/careers/">Careers</a></p>
            <p><a href="https://www.klarna.com/international/press/">Press</a></p>
        </div>
        <div class="col-3 sonlink" style="background-color:black;">
            <p><strong><a href="https://www.klarna.com/international/">Home</a></strong></p>
            <p><a href="https://www.klarna.com/international/customer-service/">Customer service</a></p>
            <p><a href="https://www.klarna.com/international/terms-and-conditions/">Terms & conditions</a></p>
            <p><a href="https://www.klarna.com/international/privacy-policy/">Privacy policy</a></p>
            <p><a href="https://www.klarna.com/international/cookie-policy/">Tracking technology notice</a></p>
        </div>
        <div class="col-3 sonlink" style="background-color:black;">
            <p><strong><a href="https://www.klarna.com/uk/business/?grs=https%3A%2F%2Fwww.klarna.com%2Fbusiness%2F&grr=empty">Business</a></strong></p>
            <p><a href="https://www.klarna.com/uk/business/?grs=https%3A%2F%2Fwww.klarna.com%2Fbusiness%2F&grr=empty">Sell with Klarna</a></p>
            <p><a href="https://www.klarna.com/international/contact-me/">Contact us</a></p>
            <p><a href="https://docs.klarna.com/">Developer documentation</a></p>
        </div>
    </div>



    <div style="background-color: black; height: 80px; width: 100%;"></div>



    <div style="background-color:black; height:80px; width:100%;">
        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <p style="margin-left:40px; color:white;font-size:13px;">
                        Copyright © 2005-2022 Klarna Bank AB (publ). Headquarters: Stockholm, Sweden. All rights reserved. Klarna Bank AB (publ). Sveavägen 46, 111 34 Stockholm. Organization number: 556737-0431</p>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-1 son">
                 <p style="font-size:13px;"><a href="https://www.klarna.com/international/privacy-policy/">Privacy policy</a></p>  
            </div>
            <div class="col-1 son">
                <div class="row">
                    <div class="col-12">
                        <p style="text-align:center;"><a href="https://www.klarna.com/international/cookie-policy/">Cookies</a></p>
                    </div>sss
                </div>
            </div>
            <div class="col-1 son">
                <div class="row">
                    <div class="col-12">
                        <p style="text-align:center;"><a href="https://www.klarna.com/international/sitemap/"> Sitemap</a></p>
                    </div>
                </div>
            </div>
            <div class="col-1 son">
                <div class="row">
                    <div class="col-12">
                        <p style="text-align:start;"><a href="https://www.klarna.com/international/?grs=https%3A%2F%2Fwww.klarna.com%2F&grr=empty">Klarna.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

